.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.img1 {
  margin: -3px;
  width: 108px;
  height: 23px;
  line-height: normal;
}

.text {
  font-size: 18px;
  font-weight: 600;
  margin-top: -3px;
  color: black;
  padding-left: 16px;
}

.smalltext {
  display: fixed;
  margin-top: 1px;
  padding: 16px;
  font-size: 12px;
  gap: 15px;
}
.but {
  display: fixed;
}

.container {
  margin-top: 15px;
  position: relative;
  width: 205vh;
}

.strong {
  position: absolute;
  top: 20%;

  padding-left: 75px;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.intext {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin-top: -45px;
}

.pip {
  width: 420px;
  position: absolute;
  right: 130px;
  top: 100px;
}

.stickynav {
  background-color: rgb(254, 254, 254);
  display: flex;
  position: sticky;
  padding: 15px;
  font-size: small;
  gap: 18px;
}

.sitem {
  display: flex;
  position: sticky;
  background-color: rgb(9, 31, 44);
  color: white;
  border-radius: 6px;
  margin-left: 180px;
}

.dtatext {
  text-align: center;
  background-color: rgb(254, 249, 245);
}

.dta-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 50px;
}

.dta-item {
  height: 180px;
  width: 190px;
  background-color: rgb(254, 254, 254);
  border-radius: 18px;
  text-align: left;
}
.bd {
  margin-right: 80px;
  margin-top: 25px;
  font-size: 9px;
 display: flex;
}

.logo {




}